<div class=container>
	<div class=row>
		<div class="col-xs-6 col-xs-offset-3">
			<h2>follows</h2>
			<table class="table table-hover table-inverse">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
						</tr>
					</thead>
					<tbody>
						<% @user.follower_user do |user| %>
							<tr>
								<td>
									<%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: "jpeg", fallback: "no_image.jpeg" %>
								</td>
								<td>
									<%= user.name %>
								</td>
								<td>
									フォロー数：<%= user.follower.count %>
								</td>
								<td>
									フォロワー数：<%= user.followed.count %>
								</td>
								<td>
									<% if current_user.following?(user) %>
										<%= link_to "フォロー外す", unfollow_path(user.id), method: :post %>
								    <% else %>
								    	<%= link_to "フォローする", follow_path(user.id), method: :post %>
									<% end %>
								</td>
								<td>
									<%= link_to "Show", user_path(user.id) %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>